body {
  text-align: center;
  margin: 0;
  font-family: cursive;
  color: #035aa6;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

h1 {
  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-weight: normal;
  margin: 2% auto 0 auto;
  padding-top: 5%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.profile-2 {
  width: 20%;
  margin: 0;
}

.hot {
  width: 17%;
  float: right;
  margin-left: 30px;

}

.coding {
  width: 20%;
  float: left;
  margin-right: 30px;
}

hr {
  background-color: #EAF6F6;
  border-style: hidden;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
  margin: 100px auto 100px auto;
}

.intro {
  width: 30%;
  margin: auto;
  padding-top: 5%;
}

.gaming_zone {
  width: 30%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
}

p {
  line-height: 2;
  color: #18b0b0;
}

h2 {
  font-size: 2rem;
  margin: 0 auto;
  color: #66BFBF;
  font-family:'Cormorant Garamond', serif;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

a {
  color: #11999E;
  font-weight: bold;
}

.intro {
  font-weight: normal;
}

.middle-container {
  background-color: #f7f7f7;
  margin: 0;
  padding: 100px 0 100px 0;
}

/*div{
  height: 200px;
  width: 200px;}
span {
  font-family: cursive;
  color: #95389e;
  font-size:30px;
} */
.top-cloud {
  height: 60px;
  width: 200px;
  position: absolute;
  right: 8%;
  top: 10%;
}

.bottom-cloud {
  position: absolute;
  left:15%;
  bottom: 40%;
}

.bird {
  width: 10%;
  position: absolute;
  bottom: 40%;
  right: 10%;
}

.bird2 {
  width: 10%;
  position: absolute;
  bottom: 70%;
  left: 15%;
}


.profile {
  width: 10%;
  position: fixed;
  right: 0;
  top: 0;
}

.last-container {
  background-color: #a6b1e1;
  margin: 0;
  padding: 50px 0 20px;
}

.foot:hover {
  color: #584153;
  font-weight: bold;
}

a {
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #f4f4f4;
}

.last {
  box-shadow: 3px 4px 0 0 #899599;
  background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color: #ededed;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  display: inline-block;
  cursor: pointer;
  color: #3a8a9e;
  font-family: Times New Roman;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0 1px 0 #e1e2ed;
}

.last:hover {
  background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color: #bab1ba;
}

.last:active {
  position: relative;
  top: 10px;
}

.copyright {
  color: #f4f4f4;
  font-size: 80%;
  padding-bottom: 0;
  padding-top: 30px;
  margin: 0 auto;
}

.hit:hover {
  color: #084177;
}

.insta{
  width: 2%;
}
.linkedin{
  width: 2%;
}
.twitter{
  width: 2%;
}
